<div class="event" id="each-message">
  <div class="label">
    <img src="" alt="">
  </div>
  <div class="content">
    <div class="summary">
      <%= markdown(message.user.username+" : "+message.body) %>
    </div>    
  </div>
</div>
