<span class="ui divider"></span>
<div class="ui comments">
  <div class="comment" id="chat-message-wrapper">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author"><%= message.user.username + " : "%></a>
      <div class="metadata">
        <span class="date"><%="(#{message.created_at.strftime("%k:%M")})" %></span>
      </div>
      <div class="text" id="each_message">
        <%= markdown(message.body) %>
      </div>
    </div>
  </div>
</div>
