<div class="comment" id="chat-message-wrapper">
  <div class="ui twelve column padded grid">
    <div class="row content <%="black" if night_mode?%> ">

      <div class="column">
        <span class="date"><%="(#{message.created_at.strftime("%k:%M")})"%></span>
      </div>

      <div class="column">
        <a class="avatar">
        </a>
        <a class="author" id="chat-author"><%= message.user.username%></a>
      </div>

      <div class="four wide column">
        <span class="text" id="each_message">
          <%= markdown(message.body) %>
        </span>
      </div>

    </div>
  </div>
</div>
