<h2 class="ui center aligned small icon header">
  <i class="circular history icon"></i>
  History
</h2>

<div class="ui container">
  <% @messages.each do |msg| %>
  <div class="row">
    <%= "#{msg.created_at.strftime("%d-%b-%Y %k:%M")} - " %>
    <%= "#{msg.user.username.upcase}" %>
    <%= " : #{msg.body}" %>
  </div>
  <% end %>
</div>
