<div class="three wide column">
  <div class="ui fluid raised card">
    <div class="content">

          <div class="ui small feed">
            <h4 class="ui header">Participants:</h4>
            <div class="ui divider"></div>

            <% @users.each do |user| %>
            <% unless user.status == "Offline" %>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <%= link_to "#{user.username}", user_path(user.id) if user != current_user %>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>

            <div class="event">
              <div class="content">
                <div class="summary">
                  <%= link_to "( You )", user_path(current_user.id) %>
                </div>
              </div>
            </div>
        
      </div>
    </div>
  </div>
</div>
