<h2 class="ui center aligned medium icon header <%='inverted' if night_mode?%>">
  <i class="user circle small icon" ></i>
  Edit profile
</h2>

<div class="ui stackable grid container">
  <div class="six wide centered column">
    <%= render 'form' %>
  </div>
</div>
