 @import "semantic-ui";

body {
   font-family: 'Ubuntu', sans-serif;
}
#message-container {
  max-height: 250px;
  overflow: auto;
}
.welcome-text {
  font-size: 1.08rem;
}
#github-button-link {
  margin-left: 5px;
}
