 @import "semantic-ui";

 body {
   font-family: 'Ubuntu', sans-serif;
 }
.main-content {
  padding: 0px 10px 0px 10px;
}
#message-container {
  max-height: 250px;
  overflow: auto;
}
#nav-status-icon {
  margin-left: 4px;
}
.welcome-text {
  font-size: 1.08rem;
}
#github-button-link {
  margin-left: 5px;
}
