 @import "semantic-ui";

body {
   font-family: 'Ubuntu', sans-serif;
   min-width: 850px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:850px;            /* As IE6 ignores !important it will set width as 1000px; */
}
#message-container {
  max-height: 250px;
  overflow: auto;
}
.welcome-text {
  font-size: 1.08rem;
}
#github-button-link {
  margin-left: 5px;
}
#chat-message-wrapper {
  margin: auto 5px auto 5px;
}
#dark-theme-toggler {
  margin-left: -25px;
}
