<% flash.each do |type, content| %>
<div class="ui container">
  <div class="ui <%= type %> small message">
    <i class="close icon"></i>
    <div class="header">
      <%= content %>
    </div>
  </div>
</div>
<% end %>
